<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <div th:replace="fragments/header :: header-css"/>
	
  </head>

  <body>
    <div th:replace="fragments/header :: header"/>

    <div class="container">
		

		<div class="row">
			<div class="col-md-12">
				<form th:action="@{'/admin/addArticle'}" th:object="${newArticle}" method="post">
					<div class="col-md-8">
						<input type="text" required="required" placeholder="Tytuł" class="form-control" th:field="*{title}">
						<textarea id="editor1" name="editor1" rows="50" th:field="*{content}">&lt;p&gt;Initial value.&lt;/p&gt;</textarea>
						    <script type="text/javascript">
   	 							CKEDITOR.replace('editor1');
							</script>
						<button type="submit" class="btn btn-primary">Dodaj artykuł</button>
					</div>
					<div class="col-md-3 pull-right">
						<div class="panel panel-warning">
							<div class="panel panel-heading">Dodaj tagi : </div>
							<div class="panel panel-body" >
								<div th:each="tag : ${allTags}">
									<input type="checkbox" th:field="*{tagsId}"  th:value="${tag.id}">
									<label for="checkbox" th:text="${tag.name}">Hello</label>
								</div>
							</div>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>

      <hr>
      <footer>
        <p>&copy; 2017 Portfolio, cele szkoleniowe.</p>     
      </footer>
    </div>
  </body>
</html>
