<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
	<div th:replace="fragments/header :: header-css"/>
  </head>

  <body>
	<div th:replace="fragments/header :: header"/>

    <div class="container">
          <div class="jumbotron">
            <h1>Panel administratora</h1>
            <p>Tutaj możesz dodawać nowe artykuły, edytować obecne artykuły, dodawać i usuwać tagi, oraz usuwać komentarze</p>
          </div>
		<div class="row extra-padding">
			<div class="col-md-12 col-md-offset-1">
				<a th:href="@{/admin/addArticle}" class="custom-links">Dodaj artykuł</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 col-md-offset-1">
				<a th:href="@{/admin/showArticles}" class="custom-links" >Artykuły</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 col-md-offset-1">
				<a th:href="@{/admin/showComments}" class="custom-links">Komentarze</a>
			</div>
		</div>	
			
		<div class="row">
			<div class="col-md-12 col-md-offset-1">
				<a th:href="@{/admin/showTags}" class="custom-links">Tagi</a>
			</div>
		</div>
		
      <hr>
      <footer>
        <p>&copy; 2017 Portfolio, cele szkoleniowe.</p>     
      </footer>

    </div>
  </body>
</html>
