html, body {
	overflow-x: hidden;
}

body {
	padding-top: 70px;
}

footer {
	padding: 30px 0;
}

.tags {
	font-size: 18px;
	font-style: italic;
	color: cornflowerblue;
}

.tag-custom {
	font-weight: bold;
}

.custom-date {
	color: gray;
	font-style: italic;
}

.current-date {
	text-align: right;
	color: gray;
	font-weight: bold;
	font-style: italic;
}

.tags-header {
	text-align: left;
	font-size: 34px;
	font-style: italic;
	color: darkgray;
}

.custom-links {
	font-size: 40px;
}

.extra-padding {
	margin-bottom: 30px;
}

.distinguish {
	font-weight: bold; 
}

.italic {
	font-style: italic;
}

.textarea-comment {
    resize: none;
    width: 100%;
}
