<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <div th:replace="fragments/header :: header-css"/>
  </head>

  <body>
    <div th:replace="fragments/header :: header"/>

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
  			<p th:if="${#fields.hasErrors('userName')}" th:text="Nazwa użytkownika musi być w zasięgu 1-30 znaków" class="error-form"></p>
  			<p th:if="${#fields.hasErrors('content')}" th:text="Zawartość komentarza musi być w zasięgu 10-200 znaków" class="error-form"></p>      
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; 2017 Portfolio, cele szkoleniowe.</p>     
      </footer>
   </div>
  </body>
</html>
