<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <div th:replace="fragments/header :: header-css"/>
  </head>

  <body>
    <div th:replace="fragments/header :: header"/>

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <div class="jumbotron">
            <h1>Blog-app</h1>
            <p>Prosty przykład aplikacji bloga napisanego przy użyciu frameworka Spring.</p>
          </div>
          
          <div class="row">
            <div class="col-xs-6 col-lg-6" th:each="article : ${articles}">
              <h2 th:text="${article.title}">Header</h2>
              <p class="tags">Tagi : <span th:each="tag : ${article.tags}" th:text="'#'+${tag.name}+ ' '"></span></p>
              <p th:utext="${article.shortDescription}"></p>
              <p class="pull-right"><span class="custom-date">Data dodania :</span><span class="current-date" th:text="${article.time}">21.03.2017 15:30</span></p>
              <p><a class="btn btn-primary btn-sm" th:href="@{'/showArticle/'+${article.id}}" role="button">Pokaż artykuł &raquo;</a></p>
            </div>
          </div>

		  <div th:if="${articles.totalPages != 1}" class="form-group col-md-11 pagination-centered">
		  		<ul class="pagination">
					<li th:class="${articles.number == 1} ? disabled">
						<a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
					</li>
					<li th:class="${articles.number == 1} ? disabled">
						<a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=${articles.number})}">&larr;</a>
					</li>
					
					<li th:class="${articles.number == (page - 1)} ? 'active pointer-disabled'" th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
					</li>
					
					<li th:class="${articles.number + 1 == articles.totalPages} ? disabled">
						<a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=${articles.number + 2})}">&rarr;</a>
					</li>
					<li th:class="${articles.number + 1 == articles.totalPages} ? disabled">
						<a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=${articles.totalPages})}">&raquo;</a>
					</li>
				</ul>
		  </div>
        </div>

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <p class="tags-header">tagi :</p>
          <div class="list-group" >
	         <div class="row" th:each="tag : ${tags}">	
		          <a th:href="@{'/byTag/'+${tag.name}}" class="list-group-item" th:text="'#'+${tag.name}"></a>	
	         </div> 
          </div>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; 2017 Portfolio, cele szkoleniowe.</p>     
      </footer>
   </div>
  </body>
</html>
