<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
	<div th:replace="fragments/header :: header-css"/>
  </head>

  <body>
	<div th:replace="fragments/header :: header"/>

    <div class="container">
          <div class="row">
			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h1 class="panel-title">Komentarze</h1>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							 <table class="table table-hover">
							 	<thead class="thead-inverse">
							 		<tr>
							 			<th>Artykuł</th>
										<th>ID</th>
										<th>Użytkownik</th>
										<th>Treść</th>
										<th>Czas dodania</th>
										<th>Usuń</th>
									</tr>
							 	</thead>
							 	<tr th:each="comment : ${comments}">
							 		<td th:text="${comment.article.title}">nazwa artykułu</td>
							 		<td th:text="${comment.id}">id</td>
									<td th:text="${comment.userName}">title</td>
									<td th:text="${comment.content}">author</td>
									<td th:text="${comment.time}">Time</td>
									<td>
										<a href="#" th:href="@{'/admin/comment/'+${comment.id}+'/delete'}">Usuń<span class="glyphicon glyphicon-remove"></span></a>
									</td>
							 	</tr>
							 </table>
						</div>
					</div>
				</div>
			</div>
		</div>
          
      <hr>
      <footer>
        <p>&copy; 2017 Portfolio, cele szkoleniowe.</p>     
      </footer>

    </div>
  </body>
</html>
