<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog-app</title>

	<link rel="stylesheet" 
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	
	<link th:href="@{/css/style.css}" rel="stylesheet"/>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}">Blog-app</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a th:href="@{/}">Artykuły</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
            <li><a th:href="@{/login}">Logowanie</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" sec:authorize="hasRole('ROLE_ADMIN')">
          	<li><a>Witaj [[${#httpServletRequest.remoteUser}]]</a></li>
            <li><a th:href="@{/admin/}">Admin</a></li>
            <li><a th:href="@{/logout}">Wyloguj</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
          <div class="row">
			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h1 class="panel-title">Komentarze</h1>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							 <table class="table table-hover">
							 	<thead class="thead-inverse">
							 		<tr>
							 			<th>Artykuł</th>
										<th>ID</th>
										<th>Użytkownik</th>
										<th>Treść</th>
										<th>Czas dodania</th>
										<th>Edytuj</th>
										<th>Usuń</th>
									</tr>
							 	</thead>
							 	<tr th:each="comment : ${comments}">
							 		<td th:text="${comment.article.title}">nazwa artykułu</td>
							 		<td th:text="${comment.id}">id</td>
									<td th:text="${comment.userName}">title</td>
									<td th:text="${comment.content}">author</td>
									<td th:text="${comment.time}">Time</td>
									<td>
										<a href="#" th:href="@{'/admin/comment/'+${comment.id}+'/update'}">Edytuj<span class="glyphicon glyphicon-pencil"></span></a>
									</td>
									<td>
										<a href="#" th:href="@{'/admin/comment/'+${comment.id}+'/delete'}">Usuń<span class="glyphicon glyphicon-remove"></span></a>
									</td>
							 	</tr>
							 </table>
						</div>
					</div>
				</div>
			</div>
		</div>
          
      <hr>
      <footer>
        <p>&copy; 2017 Portfolio, cele szkoleniowe.</p>     
      </footer>

    </div>
  </body>
</html>
